<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.lotte.ai.mapper.EmotionMapper">
 
    <insert id="userRegist" parameterType="hashMap">
        INSERT INTO 
			lotte.FACE_REGIST_INFO (
				user_name,
				user_birthday,
				user_sex,
				emotion_value,
				regist_date,
				face_origin_name,
				face_fake_name,
				regist_count
		) VALUES (
				#{userName},
				#{userBirthday},
				#{userSex},
				#{emotion},
				#{registDate},
				#{faceOriginName},
				#{faceFakeName},
				#{registCount}
		) ON DUPLICATE KEY UPDATE 
				user_name=#{userName},
				user_birthday=#{userBirthday},
				user_sex=#{userSex}
    </insert>
    
    <select id="emotionList" parameterType="hashMap" resultType="hashMap">
    	SELECT 
			C.CODE_ID AS 'CODE_ID', 
			C.CODE_VALUE AS 'CODE_VALUE',
			C.CODE_NM 'EMOTION_NAME',
			C.CODE_DESC as 'EMOTION_DESC',
			F.REGIST_DATE as 'REGIST_DATE',
			F.REGIST_COUNT as 'REGIST_COUNT'
		FROM 
			COMMON_CODE C
			LEFT JOIN (
				select
					* 
				from
					FACE_REGIST_INFO
				where
					user_name = #{userName} and
					user_birthday = #{userBirthday} and
					user_sex = #{userSex}
			) F 
			ON C.CODE_VALUE = F.EMOTION_VALUE
		WHERE
			C.CODE_ID = 'CMM_001';
    </select>
    
    <update id="faceEmotionRegist" parameterType="hashMap">
        INSERT INTO 
			lotte.FACE_REGIST_INFO (
				user_name,
				user_birthday,
				user_sex,
				emotion_value,
				regist_date,
				face_origin_name,
				face_fake_name,
				regist_count
		) VALUES (
				#{userName},
				#{userBirthday},
				#{userSex},
				#{emotion},
				#{registDate},
				#{faceOriginName},
				#{faceFakeName},
				#{registCount}
		) ON DUPLICATE KEY UPDATE 
				user_name=#{userName},
				user_birthday=#{userBirthday},
				user_sex=#{userSex}
    </update>
</mapper>