<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>SB Admin - Start Bootstrap Template</title>
<!-- Bootstrap core CSS-->
<link href="/resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="/resources/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link href="/resources/vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link href="/resources/css/sb-admin.css" rel="stylesheet">
<!-- 음원 UI 추가 -->
<!-- 
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
 -->
<link href='http://fonts.googleapis.com/css?family=Lobster'
	rel='stylesheet' type='text/css'>
<script src="http://code.jQuery.com/jQuery-latest.js" type="text/javascript"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="index.html">커피 주문</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Dashboard"><a class="nav-link" href="/master"> <i
						class="fa fa-fw fa-dashboard"></i> <span class="nav-link-text">관리자페이지로</span>
				</a></li>
			</ul>
			<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item"><a class="nav-link text-center"
					id="sidenavToggler"> <i class="fa fa-fw fa-angle-left"></i>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" data-toggle="modal"
					data-target="#exampleModal"> <i class="fa fa-fw fa-sign-out"></i>Logout
				</a></li>
			</ul>
		</div>
	</nav>
	<div class="content-wrapper">
		<div class="container-fluid">

			<!-- Icon Cards-->
			<!--  DashBoard Example-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i>DashBoard
				</div>
				<div class="card-body">
					<div class="table-responsive">

						온습도,미세먼지 대시보드 내용
						<script type="text/javascript">
						function rplLine(value){
						    if (value != null && value != "") {
						        return value.replace(/\n/g, "\\n");
						    }else{
						        return value;
						    }
						}
						function realTimeWeather() {
						    
						    var today = new Date();
						    var week = new Array('일','월','화','수','목','금','토');
						    var year = today.getFullYear();
						    var month = today.getMonth()+1;
						    var day = today.getDate();
						    var hours = today.getHours();
						    var minutes = today.getMinutes();
						 
						    $('.weather-date').html(month +"월 " + day + "일 " + week[today.getDay()]+"요일");
						 
						    /*
						     * 기상청 30분마다 발표
						     * 30분보다 작으면, 한시간 전 hours 값
						     */
						    if(minutes < 30){
						        hours = hours - 1;
						        if(hours < 0){
						            // 자정 이전은 전날로 계산
						            today.setDate(today.getDate() - 1);
						            day = today.getDate();
						            month = today.getMonth()+1;
						            year = today.getFullYear();
						            hours = 23;
						        }
						    }
						    
						    /* example
						     * 9시 -> 09시 변경 필요
						     */
						    
						    if(hours < 10) {
						        hours = '0'+hours;
						    }
						    if(month < 10) {
						        month = '0' + month;
						    }    
						    if(day < 10) {
						        day = '0' + day;
						    } 
						 
						    today = year+""+month+""+day;
							
						    /* 좌표 */
						    var _nx = 60, 
						    _ny = 127,
						    apikey = "6Pt91UWttrq6am20E3F5PLobj1fnoc0rGaui%2FIhwAi5A2u7l2Jck9qU8giLCG7aDmCeFrw5PwSPloKeOcbuUyg%3D%3D",
						    ForecastGribURL = "http://newsky2.kma.go.kr/service/SecndSrtpdFrcstInfoService2/ForecastSpaceData";
						    ForecastGribURL += "?ServiceKey=" + apikey;
						    ForecastGribURL += "&base_date=" + today;
						    ForecastGribURL += "&base_time=" + hours +"00";
						    ForecastGribURL += "&nx=" + _nx + "&ny=" + _ny;
						    ForecastGribURL += "&pageNo=1&numOfRows=7";
						    ForecastGribURL += "&_type=json";
						 	console.log(ForecastGribURL);
						 	
						 	
						   	jQuery.ajax({
						   		type: 'GET'
						    	,url: ForecastGribURL
						    	,cache: false
						    	,success: function(msg) {
						 		
						       //var text = msg.responseText;
						      var myXML = rplLine(msg.responseText);
						      
					            var indexS = myXML.indexOf('"body":{"items":{"item":'),
					                indexE = myXML.indexOf("}]}"),
					                result = myXML;
						       //text = text.replace(/(<([^>]+)>)/gi,''); //HTML 태그 모두 공백으로 대체 */
						       text = '[' + result + ']';
						       
						       var json = jQuery.parseJSON(text);
						       
						       
						       var rain_state = json[0].response.body.items.item[1].obsrValue;
						       var rain = json[0].response.body.items.item[3].obsrValue;
						       var sky = json[0].response.body.items.item[4].obsrValue;
						       var temperature = json[0].response.body.items.item[5].obsrValue;
						       
						       $('.weather-temp').html(temperature.toFixed(1) + " ℃");
						 		$('#RN1').html("시간당강수량 : "+ rain +"mm");
						       
						           if(rain_state != 0) {
						               switch(rain_state) {
						                   case 1:
						                    $('.weather-state-text').html("비");
						                       break;
						                   case 2:
						                       $('.weather-state-text').html("비/눈");
						                       break;
						                   case 3:
						                       $('.weather-state-text').html("눈");
						                       break;
						               }
						           }else {
						               switch(sky) {
						                   case 1:
						                       $('.weather-state-text').html("맑음");
						                       break;
						                   case 2:
						                       $('.weather-state-text').html("구름조금");
						                       break;
						                   case 3:
						                    $('.weather-state-text').html("구름많음");
						                       break;
						                   case 4:
						                    $('.weather-state-text').html("흐림");    
						                       break;
						                   }    
						               } //if 종료
						        } //success func 종료
						    })    
						}
						realTimeWeather();
						</script>

					</div>


				</div>
			</div>
			<!-- Area Button Example-->
			<div>
				<a id="btn-join" class="btn btn-primary btn-lg">장기</a>
				 <a id="btn-join" class="btn btn-primary btn-lg">단기</a>

			</div>
			<!-- Area MUSIC Example-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-area-chart"></i>MUSIC

				</div>
				<div class="card-body">
					<canvas id="myAreaChart" width="100%" height="30"></canvas>
					<div class="col-md-12">
						<audio id="audio" preload="auto"></audio>
						<h1>HTML 5 Audio Player</h1>
						<audio controls="controls">
							<source src="track.ogg" type="audio/ogg" />
							<source src="track.mp3" type="audio/mpeg" />
							Your browser does not support the audio element.
						</audio>


					</div>

				</div>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<!-- Example Bar Chart Card-->
						<div class="card mb-3">
							<div class="card-header">
								<i class="fa fa-bar-chart"></i> Bar Chart Example
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-sm-8 my-auto">
										<canvas id="myBarChart" width="100" height="50"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- Card Columns Example Social Feed-->
						<!-- /Card Columns-->
					</div>
					<div class="col-lg-4">
						<!-- Example Pie Chart Card-->
						<div class="card mb-3">
							<div class="card-header">
								<i class="fa fa-pie-chart"></i> Pie Chart Example
							</div>
							<div class="card-body">
								<canvas id="myPieChart" width="100%" height="100"></canvas>
							</div>
						</div>
						<!-- Example Notifications Card-->
						<!-- Example DataTables Card-->
						<!-- /.container-fluid-->
						<!-- /.content-wrapper-->
						<footer class="sticky-footer">
							<div class="container">
								<div class="text-center">
									<small>Copyright © Your Website 2018</small>
								</div>
							</div>
						</footer>
						<!-- Scroll to Top Button-->
						<a class="scroll-to-top rounded" href="#page-top"> <i
							class="fa fa-angle-up"></i>
						</a>
						<!-- Logout Modal-->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Ready to
											Leave?</h5>
										<button class="close" type="button" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<div class="modal-body">Select "Logout" below if you are
										ready to end your current session.</div>
									<div class="modal-footer">
										<button class="btn btn-secondary" type="button"
											data-dismiss="modal">Cancel</button>
										<a class="btn btn-primary" href="login.html">Logout</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Bootstrap core JavaScript-->
						<script src="/resources/vendor/jquery/jquery.min.js"></script>
						<script
							src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
						<!-- Core plugin JavaScript-->
						<script src="/resources/vendor/jquery-easing/jquery.easing.min.js"></script>
						<!-- Page level plugin JavaScript-->
						<script src="/resources/vendor/chart.js/Chart.min.js"></script>
						<script src="/resources/vendor/datatables/jquery.dataTables.js"></script>
						<script
							src="/resources/vendor/datatables/dataTables.bootstrap4.js"></script>
						<!-- Custom scripts for all pages-->
						<script src="/resources/js/sb-admin.min.js"></script>
						<!-- Custom scripts for this page-->
						<script src="/resources/js/sb-admin-datatables.min.js"></script>
					</div>
					<script type="text/javascript">
			
		</script>
</body>

</html>

