<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>LIFE Garden</title>
<!-- Bootstrap core CSS-->
<link href="/resources/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="/resources/vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link href="/resources/vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link href="/resources/css/sb-admin.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="/resources/vendor/jquery/jquery.min.js"></script>
<script
	src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/resources/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/resources/vendor/chart.js/Chart.min.js"></script>
<script src="/resources/vendor/datatables/jquery.dataTables.js"></script>
<script src="/resources/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="/resources/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="/resources/js/sb-admin-datatables.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<script src="http://code.jQuery.com/jQuery-latest.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="jquery.xdomainajax.js"></script>
<script src="/resources/js/weather.js"></script>
<script type="text/javascript">realTimeWeather();</script>
<script src="/resources/js/jquery-1.4.4.min.js"></script>
<script src="/resources/js//audio.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="index.html">LIFE Garden</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
				<!-- <li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Dashboard"><a class="nav-link" href="/master"> <i
						class="fa fa-fw fa-dashboard"></i> <span class="nav-link-text">관리자페이지로</span>
				</a></li> -->
			</ul>
			<ul class="navbar-nav sidenav-toggler">
				<li class="nav-item"><a class="nav-link text-center"
					id="sidenavToggler"> <i class="fa fa-fw fa-angle-left"></i>
				</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" data-toggle="modal"
					data-target="#exampleModal"> <i class="fa fa-fw fa-sign-out"></i>Logout
				</a></li>
			</ul>
		</div>
	</nav>
	<div class="content-wrapper">
		<div class="container-fluid">

			<!-- Icon Cards-->
			<!--  DashBoard Example-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i>현재 날씨정보 ${USER_GROUP_ID} ${HUMAN_ID} $session.getAttribute("user")
				</div>
				<div class="card-body">
					<div class="table-responsive">

						
					        <h2 class="vh_hide">현재 날씨정보 ${USER_GROUP_ID} ${HUMAN_ID} $session.getAttribute("user")</h2>
					        <p class="weather-date"></p>
					        <ul>
					            <li class="weather-temp"></li>
					            <li id="RN1"> </li>
					            <li id="REH"> </li>
					            <li class="weather-state-text"></li>
					        </ul>
					 		
						

					</div>


				</div>
			</div>
			<!-- Area Button Example-->
			<div>
				<a id="btn-join" class="btn btn-primary btn-lg">장기</a>
				 <a href="/shortManage" id="btn-join" class="btn btn-primary btn-lg">단기</a>

			</div>
			<!-- Area MUSIC Example-->
			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-area-chart"></i>MUSIC

				</div>
				<div class="card-body">
					<canvas id="myAreaChart" width="100%" height="30"></canvas>
					<div class="col-md-12">
					
						<!--  Audio 민혁 추가 -->
												
    					<style>
						  body { color: #666; font-family: sans-serif; }
						  h1 { color: #444; font-size: 1.2em; padding: 14px 2px 12px; margin: 0px; }
						  h1 em { font-style: normal; color: #999; }
						  a { color: #888; text-decoration: none; }
						  #wrapper { width: 400px; margin: 40px auto; }
						  
						  ol { padding: 0px; margin: 0px; list-style: decimal inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.95em; }
						  ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
						  ol li a { margin: 0px 0px 0px 5px; }
						  li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
						  li.playing a { color: #000; }
						  li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
						  
						  #shortcuts { position: fixed; bottom: 0px; width: 100%; color: #666; font-size: 0.9em; margin: 60px 0px 0px; padding: 20px 20px 15px; background: #f3f3f3; background: rgba(240, 240, 240, 0.7); }
						  #shortcuts div { width: 460px; margin: 0px auto; }
						  #shortcuts h1 { margin: 0px 0px 6px; }
						  #shortcuts p { margin: 0px 0px 18px; }
						  #shortcuts em { font-style: normal; background: #d3d3d3; padding: 3px 9px; position: relative; left: -3px;
							-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
							-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
						</style>
						
						<script>
						  $(function() { 
							// Setup the player to autoplay the next track
							var a = audiojs.createAll({
							  trackEnded: function() {
								var next = $('ol li.playing').next();
								if (!next.length) next = $('ol li').first();
								next.addClass('playing').siblings().removeClass('playing');
								audio.load($('a', next).attr('data-src'));
								audio.play();
							  }
							});
							
							// Load in the first track
							var audio = a[0];
								first = $('ol a').attr('data-src');
							$('ol li').first().addClass('playing');
							audio.load(first);
						
							// Load in a track on click
							$('ol li').click(function(e) {
							  e.preventDefault();
							  $(this).addClass('playing').siblings().removeClass('playing');
							  audio.load($('a', this).attr('data-src'));
							  audio.play();
							});
							// Keyboard shortcuts
							$(document).keydown(function(e) {
							  var unicode = e.charCode ? e.charCode : e.keyCode;
								 // right arrow
							  if (unicode == 39) {
								var next = $('li.playing').next();
								if (!next.length) next = $('ol li').first();
								next.click();
								// back arrow
							  } else if (unicode == 37) {
								var prev = $('li.playing').prev();
								if (!prev.length) prev = $('ol li').last();
								prev.click();
								// spacebar
							  } else if (unicode == 32) {
								audio.playPause();
							  }
							})
						  });
						</script>
						</head>
						<body>
						<div id="wrapper">
						  <h1>Music Player</h1>
						  <audio preload ></audio>
						  <ol>
							<li><a href="#" data-src="/resources/music/01.mp3">Track 01</a></li>
							<li><a href="#" data-src="/resources/music/02.mp3">Track 02</a></li>
							<li><a href="#" data-src="/resources/music/03.mp3">Track 03</a></li>
						  </ol>
						</div>
						<div id="shortcuts">
						  <div>

						
						<!-- End -->				

					</div>

				</div>
				</div>

				<div class="row">
					<div class="col-lg-8">
						<!-- Example Bar Chart Card-->
						<div class="card mb-3">
							<div class="card-header">
								<i class="fa fa-bar-chart"></i> Bar Chart Example
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-sm-8 my-auto">
										<canvas id="myBarChart" width="100" height="50"></canvas>
									</div>
								</div>
							</div>
						</div>
						<!-- Card Columns Example Social Feed-->
						<!-- /Card Columns-->
					</div>
					<div class="col-lg-4">
						<!-- Example Pie Chart Card-->
						<div class="card mb-3">
							<div class="card-header">
								<i class="fa fa-pie-chart"></i> Pie Chart Example
							</div>
							<div class="card-body">
								<canvas id="myPieChart" width="100%" height="100"></canvas>
							</div>
						</div>
						<!-- Example Notifications Card-->
						<!-- Example DataTables Card-->
						<!-- /.container-fluid-->
						<!-- /.content-wrapper-->
						<footer class="sticky-footer">
							<div class="container">
								<div class="text-center">
									<small>Copyright © Your Website 2018</small>
								</div>
							</div>
						</footer>
						<!-- Scroll to Top Button-->
						<a class="scroll-to-top rounded" href="#page-top"> <i
							class="fa fa-angle-up"></i>
						</a>
						<!-- Logout Modal-->
						<div class="modal fade" id="exampleModal" tabindex="-1"
							role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Ready to
											Leave?</h5>
										<button class="close" type="button" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">×</span>
										</button>
									</div>
									<div class="modal-body">Select "Logout" below if you are
										ready to end your current session.</div>
									<div class="modal-footer">
										<button class="btn btn-secondary" type="button"
											data-dismiss="modal">Cancel</button>
										<a class="btn btn-primary" href="login.html">Logout</a>
									</div>
								</div>
							</div>
						</div>

					</div>
</body>

</html>

