<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/resources/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/resources/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/main">LIFE Garden</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/board/001">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">게시판</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/trace">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">발자취</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/quiz">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">퀴즈</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/info">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">팁</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <button id="btn_bt">방울토마토</button>
        </li>
        <li class="breadcrumb-item">
          <button id="btn_gosu">고수</button>
        </li>
      </ol>
      	<div id="bt">
      	<!-- 
	      	· 구입요령 : 과실의 크기가 적당하며 겉이 무르지 않고 단단한 것이 좋고 붉은색을 띠며 꼭지가 신선한 것이 좋다.
			· 유사재료 : 토마토 (방울토마토가 더 크기가 작아서 샐러드 등에 사용하기 좋다.)
			· 보관온도 : 15~25℃
			· 보관일 : 7일
			· 보관법 : 햇볕이 들지 않고 통풍이 잘되는 그늘진 상온에서 보관한다.
			· 손질법 : 흐르는 물에 씻어 물기를 뺀 후 꼭지를 떼고 먹는다.
			· 산지특성 및 기타정보 : 토마토는 페루, 에콰도르등 남미 열대지방이 원산지인 다년생 초본이다. 유럽에는 16세기에 전파되어 관상용으로 재배되다가 19세기에 품종이 개량되면서 채소로 이용되기 시작했다. -->
      	<img src="/resources/img/방울토마토.PNG" width ="100%" height="100%">
      	
      	</div>
      	<div id="gosu" style="display:none">
			<!-- • 토질은 식질양토나 사질양토의 물빠짐이 좋고 비옥한 땅을 좋아한다. 답이작(沓裏作)으로서도 물빠짐이 좋은 곳에서는 밭 이상으로 알맞는 토지로도 된다. 화산회(火山灰)와 같은 가벼운 땅은 겨울에 한해(寒害)를 받기 쉽다. 그러나 그 결점을 보충하기 위하여 석회(石灰)를 10a당 120kg정도 주고, 파종을 약간 이르게 하면서 땅고루기를 하지 않고 종자를 뿌리는 등의 방법으로 하면 알맞는 땅으로서 사용할 수가 있다. 연작(連作)은 괜찮지 않지만 석회를 주든지 미량요소비료(微量要素肥料)를 주는 등의 방법을 쓰는 것이 바람직하다. 파종의 시기에 이루어지는가 어떤가에 달려 있다고 말할 수 있을 정도이다. 파종이 지나치게 빠르면 월동 전에 너무 무성하여 한해(寒害)를 받기 쉽게 되며, 너무 늦어지게 되면 묘의 뿌리뻗음이 불충분하기 때문에 서릿발에 의하여 떠오르게 된다.
      		-->
      		<img src="/resources/img/고수.PNG" width ="100%" height="100%">
      	</div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <!-- Page level plugin JavaScript-->
    <script src="/resources/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/resources/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/resources/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/resources/js/sb-admin-datatables.min.js"></script>
  </div>
	<script type="text/javascript">
	jQuery("#btn_bt").on("click", function(event) {
  		jQuery("#gosu").css("display","none");
  		jQuery("#bt").css("display","block");
  	})
	jQuery("#btn_gosu").on("click", function(event) {
  		jQuery("#bt").css("display","none");
  		jQuery("#gosu").css("display","block");
  	})
  </script>
</body>

</html>
