<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="/resources/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" onkeypress="if(event.keyCode==13) {login();}" >
          </div>
          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember Password</label>
            </div>
          </div>
          <a id="btn_login" class="btn btn-primary btn-block" href="index.html">Login</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/join">Register an Account</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/resources/vendor/jquery/jquery.min.js"></script>
  <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/resources/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script type="text/javascript">
	jQuery("#btn_login").on("click", function(event) {
  		login();
  	})
  	function login(){
  		event.preventDefault();
		var mem_id=jQuery("#exampleInputEmail1").val();
		var password=jQuery("#exampleInputPassword1").val();
		
		if(mem_id =="" || password ==""){
			alert("아이디 또는 패스워드를 입력하세요");
			return;
		}
		
		var data = {mem_id: mem_id, password: password};
		jQuery.ajax({ 
			type:"POST", 
			url: '/logintest',
			contentType:'application/json',
			data: JSON.stringify(data),
			success : function(resData) {
				window.location.href = '/main'
				console.log(resData); 
			}, 
			error : function(xhr, status, e) {
				console.log(e);
				alert("아이디 비밀번호를 다시한번 확인해주세요");
			} 
		});
  	}
  </script>
</body>

</html>
