<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/resources/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/resources/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Tables</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <button id="btn_bt">퀴즈퀴즈</button>
        </li>
      </ol>
      
 <script language="javascript">  
	var delay=15; //시간설정
	var correctAnswers=new Array("a","b","a","b","b");  //정답
	
	var q_num=1;
	var timer;
	var layer;
	var clock=delay;
	var score=0;
	
	function show_question(){
		if (layer=eval("document.all.question"+q_num)){
			layer.style.display="inline";
			document.all.timeLeft.innerHTML=clock;
			hide_question();
		} else {
			display(q_num, score)
		}
	}

	function hide_question(){
		if (clock>0) {
			document.all.timeLeft.innerHTML=clock;
			clock--;
			timer=setTimeout("hide_question()",1000);
		} else {
			clearTimeout(timer);
			document.all.answerBoard.innerHTML=" ";
			clock=delay;
			layer.style.display="none";
			q_num++;
			show_question();
		}
	}

	 function check_answer(answer){
		if (correctAnswers[q_num-1]==answer){
			score++;
			document.all.answerBoard.innerHTML="<font color=blue><b>정답입니다.</b></font>";
		} else {
			document.all.answerBoard.innerHTML="<font color=red><b>땡! 틀렸습니다.</b></font>";
		}
		clock=0;
		clearTimeout(timer);
		timer=setTimeout("hide_question()",500);
	} 
	 
	function display(q_num, score){
		document.all.timeLeft.innerHTML=0;
		/* document.all.quizScore.innerHTML="당신은 "+(q_num-1)+"문제중 "+score+"개를 맞췄습니다."; */
		if(score >= 4){
			document.all.quizScore.innerHTML="축하합니다! <br><br> 쿠폰 : LORE Garden!";
		}
		else{
			document.all.quizScore.innerHTML="죄송합니다. 나중에 다시 도전해주세요."
		}
		document.all.quizScore.style.display="inline";
		/* document.all.answerBoard.innerHTML="쿠폰 : LORE Garden!"; */
	}
	window.onload=show_question
</script>

<br>
<div id="answerBoard"> </div>
<br>

<div id="question1" style="display:none">
	<b>1. 괴테의 철학이 담은 첫 소설이며 롯데라는 회사의 토대가 된 소설은 '젊은 베르터의 고뇌'이다.</b><br>
	<div class="col-md-8 mt-5 small-area col-md-offset-2">
	<div class="row center select-ox mt-2 mb-4">
        <div class="col-xs-6 ta-c">
            <p>
               	<a href="javascript:check_quiz('O');" class="btn-answer"><img src="/resources/img/O.png"  onclick="check_answer('a')" alt="O"/></a>
            </p>
        </div>
        <div class="col-xs-6 ta-c">
            <p>
    			<a href="javascript:check_quiz('X');" class="btn-answer"><img src="/resources/img/X.png"  onclick="check_answer('b')" alt="X"/></a>
            </p>
        </div>
     </div>
    </div>
</div>

<div id="question2" style="display:none">
	<b>2. Challenge을 통해 달성한 성공 사례는 수르길 프로젝트와 모짜렐라 인더 버거인다.</b><br>
	<div class="col-md-8 mt-5 small-area col-md-offset-2">
	<div class="row center select-ox mt-2 mb-4">
        <div class="col-xs-6 ta-c">
            <p>
               	<a href="javascript:check_quiz('O');" class="btn-answer"><img src="/resources/img/O.png" onclick="check_answer('a')" alt="O"/></a>
            </p>
        </div>
        <div class="col-xs-6 ta-c">
            <p>
    			<a href="javascript:check_quiz('X');" class="btn-answer"><img src="/resources/img/X.png" onclick="check_answer('b')" alt="X"/></a>
            </p>
        </div>
    </div>
    </div>
</div>

<div id="question3" style="display:none">
<b>3. BCE을 통해 달성한 성공 사례는 순하리와 말랑카우이다.</b><br>
	<div class="col-md-8 mt-5 small-area col-md-offset-2">
	<div class="row center select-ox mt-2 mb-4">
        <div class="col-xs-6 ta-c">
            <p>
               	<a href="javascript:check_quiz('O');" class="btn-answer"><img src="/resources/img/O.png" onclick="check_answer('a')" alt="O"/></a>
            </p>
        </div>
        <div class="col-xs-6 ta-c">
            <p>
    			<a href="javascript:check_quiz('X');" class="btn-answer"><img src="/resources/img/X.png" onclick="check_answer('b')" alt="X"/></a>
            </p>
        </div>
    </div>
    </div>
</div>

<div id="question4" style="display:none">
<b>4. 대한민국에 창립한 첫 회사는 롯데알미늄이다.</b><br>
	<div class="col-md-8 mt-5 small-area col-md-offset-2">
	<div class="row center select-ox mt-2 mb-4">
        <div class="col-xs-6 ta-c">
            <p>
               	<a href="javascript:check_quiz('O');" class="btn-answer"><img src="/resources/img/O.png" onclick="check_answer('a')" alt="O"/></a>
            </p>
        </div>
        <div class="col-xs-6 ta-c">
            <p>
    			<a href="javascript:check_quiz('X');" class="btn-answer"><img src="/resources/img/X.png" onclick="check_answer('b')" alt="X"/></a>
            </p>
        </div>
    </div>
    </div>
</div>

<div id="question5" style="display:none">
<b>5. 롯데정보통신 설립일은 1996년 12월 26일이다.</b><br>
	<div class="col-md-8 mt-5 small-area col-md-offset-2">
	<div class="row center select-ox mt-2 mb-4">
        <div class="col-xs-6 ta-c">
            <p>
               	<a href="javascript:check_quiz('O');" class="btn-answer"><img src="/resources/img/O.png" onclick="check_answer('a')" alt="O"/></a>
            </p>
        </div>
        <div class="col-xs-6 ta-c">
            <p>
    			<a href="javascript:check_quiz('X');" class="btn-answer"><img src="/resources/img/X.png" onclick="check_answer('b')" alt="X"/></a>
            </p>
        </div>
    </div>
    </div>
</div>      

<div id="quizScore" style="display:none">
</div>

<br><br>      
 제한시간 : <B><span id="timeLeft" ></span></B> 초<br>
 
 
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <!-- Page level plugin JavaScript-->
    <script src="/resources/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/resources/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/resources/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/resources/js/sb-admin-datatables.min.js"></script>
  </div>
	<script type="text/javascript">
	jQuery("#btn_bt").on("click", function(event) {
  		jQuery("#gosu").css("display","none");
  		jQuery("#bt").css("display","block");
  	})
	jQuery("#btn_gosu").on("click", function(event) {
  		jQuery("#bt").css("display","none");
  		jQuery("#gosu").css("display","block");
  	})
  </script>
</body>

</html>
