<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/resources/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/resources/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/resources/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/main">LIFE Garden</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/board/001">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">게시판</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/trace">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">발자취</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/quiz">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">퀴즈</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="/info">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">팁</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link"  id="classs">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
   <!--    
<script language="javascript">  
	var delay=15; //시간설정
	var correctAnswers=new Array("a","b","a","b","b");  //정답
	
	var q_num=1;
	var timer;
	var layer;
	var clock=delay;
	var score=0;
	
	function show_question(){
		if (layer=eval("document.all.question"+q_num)){
			layer.style.display="inline";
			document.all.timeLeft.innerHTML=clock;
			hide_question();
		} else {
			document.all.timeLeft.innerHTML=0;
			document.all.quizScore.innerHTML="당신은 "+(q_num-1)+"문제중 "+score+"개를 맞췄습니다.";
			document.all.quizScore.style.display="inline";
		}
	}

	function hide_question(){
		if (clock>0) {
			document.all.timeLeft.innerHTML=clock;
			clock--;
			timer=setTimeout("hide_question()",1000);
		} else {
			clearTimeout(timer);
			document.all.answerBoard.innerHTML=" ";
			clock=delay;
			layer.style.display="none";
			q_num++;
			show_question();
		}
	}

	 function check_answer(answer){
		if (correctAnswers[q_num-1]==answer){
			score++;
			document.all.answerBoard.innerHTML="<font color=blue><b>정답입니다.</b></font>";
		} else {
			document.all.answerBoard.innerHTML="<font color=red><b>땡! 틀렸습니다.</b></font>";
		}
		clock=0;
		clearTimeout(timer);
		timer=setTimeout("hide_question()",500);
	} 

	window.onload=show_question;
	</script> -->

<div id="answerBoard"> </div>

<!-- <div class="paper mt-3"> -->
<img src="/resources/img/label.png" alt="OX퀴즈" class="tag"/>
                     <div class="row">
                         <div class="col-md-8 mt-5 small-area col-md-offset-2">
            <ul class="quiz-notice">
                <li>1)<strong>총 5문제가 출제됩니다.</strong></li>
                <li>2)각 문제당 <strong>15초의 제한시간</strong>이 있습니다.</li>
                <li>3)<strong>4 문제 이상 정답시 쿠폰이 발급</strong>됩니다. 문제를 풀기 전 신중하게 답변을 선택해주세요~!</li>
            </ul>
        </div>
    </div>
<!-- </div> -->

 <div class="paper-vline ta-c">
     <div class="col-md-offset-1 col-md-10 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 mt-4 pb-3 center">
         <a href="/quizMain"><img src="/resources/img/btn_start.png" alt="OX퀴즈 도전하기"/></a>
     </div>
 </div>
      

      
      
 <!-- 제한시간 : <B><span id="timeLeft"></span></B> 초<br> -->
      
      
      
<!--       
      #foreach($item in $quizDTOList)
      	<label>${item.Contents}</label>
	    <ul>
		    <input type="radio" name=${item.ID} value="Apple" checked>O
		    <input type="radio" name=${item.ID} value="Grape">X
	    </ul>
      #end -->
      
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/resources/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <!-- Page level plugin JavaScript-->
    <script src="/resources/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/resources/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/resources/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/resources/js/sb-admin-datatables.min.js"></script>
  </div>
	<script type="text/javascript">
	jQuery("#btn_bt").on("click", function(event) {
  		jQuery("#gosu").css("display","none");
  		jQuery("#bt").css("display","block");
  	})
	jQuery("#btn_gosu").on("click", function(event) {
  		jQuery("#bt").css("display","none");
  		jQuery("#gosu").css("display","block");
  	})
  	
	jQuery("#classs").on("click", function(event) {
		jQuery.ajax({ 
			type:"GET", 
			url: '/logout',
			contentType:'application/json',
			data: JSON.stringify(""),
			success : function(resData) {
				window.location.href = '/main'
			}, 
			error : function(xhr, status, e) {
				window.location.href = '/main'
				console.log(e);
			} 
		});
  	})
  </script>
</body>

</html>
